<div class="contact">
    <h1> Get in touch</h1>
    <p> Want to get in touch? We'd love to hear from you.
        <br> Here's how you can reach us...
    </p>
    <h2> Contact details</h2>
    <hr class="rounded">
    <p>Customer Support <br>
        +919876543201 (Toll Free)</p>
    <p>Bihar <br> +91 999 999 9999</p>
    <p>Delhi <br> +91 900 999 0009</p>
    <p>J&K <br> +91 911 911 1119</p>
    <H3>You can also write to us</H3>
    <hr class="rounded">
    <p>studentsbank@email.com</p>
</div>