<div class="feedbackcss">
    <h1>Feedback</h1>
    <p>Please tell us about your experience with us!</p>
    <hr class="rounded">
    <form action="/">
        <label for="name">Enter full name</label><br>
        <input type="text" name="name" id="name"><br>
        <label for="email"><br> Registered Email</label><br>
        <input type="text" name="email" id="email"><br>
        <label for="feedback"><br>Description</label><br>
        <textarea name="feedback" id="feedback" cols="30" rows="10"></textarea><br>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>