<div class="container-fluids">
    <h1>Welcome To Bank</h1>
    <p>It’s risky to keep your money in cash as it could be lost, stolen, or destroyed. <br> Financial institutions
        keep your funds safe.
        <br><br>
        there's no need to carry cash. <br> If you need cash, you can easily access your funds
        virtually anywhere.
        <br><br>
        stringent laws and regulations and at most banks, funds are insured.
        <br><br>
        Financial Future: As an individual, you'll have access to financial professionals to help you. <br>
        Knowledgeable
        advice of bankers is a valuable resource to help you build a better financial future.
        <br><br>
        That's why choose Bank

    </p>
</div>